<div class="container-login">
  <div class="wrap-login">
    <form class="login-form" [formGroup]="forgotPassword">
      <div class="logo ">
        <img src="assets/images/logo_login.png" alt="" class="img-responsive paddingBottom20">
      </div>
      <div class="forgotSuccessMsgHead show">
        <h1>Forgot password</h1>
        <p>A Reset password link will be sent to your registered email address</p>

        <div *ngIf="email.invalid && (email.dirty) " class="alert alert-danger">
          <small *ngIf="email.errors.required &&  (email.dirty)">
            * Email is required
          </small>
          <small *ngIf="email.errors.pattern && email.dirty ">
            *  Please enter a valid email address
          </small>
        </div>
        <div *ngIf="!email.invalid  && !isvalidUser" class="alert alert-danger">
          <small>
           {{ errMsg}}
          </small>
          </div>

          <div class="wrap-inputlogin">
            <input class="inputlogin" type="email" name="email" formControlName="email">
            <span class="focus-inputlogin"></span> <span class="label-inputlogin">Email</span>
          </div>

          <div class="form-btn-sec marginT10">
            <button class="btn form-btn" [disabled]="!forgotPassword.valid" (click)="sendResetLinkEmail()">Send </button>
            <span class="txt-login2"> <a href="javascript:void(0)" (click)="gobackLogin()">Cancel</a></span>
          </div>
        </div>

        <div class="forgotSuccessMsg hide">
          <div class="forgotSuccessMsgHead1">
            <i class="fa fa-check-circle-o"></i>
            <h2>Please check you email box</h2>
          </div>
          <p>A Reset password link has been sent to your registered email address</p>
          <div class="marginB50"><span class="txt-login2 back_login"> <a href="#" routerLink="/login">Back to login</a> </span> </div>
        </div>
        <div class="row marginT20">
          <div class="col-md-4 col-sm-4 col-xs-8 txt-login"> <img src="assets/images/login_evs.png" class="img-responsive"> </div>
          <div class="col-md-8 col-sm-8 col-xs-12 footer_tex"> <span class="txt-login"> By Loging in, you agree to Evalueserve's </span> <span class="txt-login"><a href="#" target="_blank">Terms and conditions</a> &amp; <a href="#" target="_blank">Privacy Policy</a></span> <p class="size11 text-right">Copyright 2019. Evalueserve.com Pvt. Ltd.  All rights reserved.</p></div>
        </div>
</form>
    <div class="login-more" style="background-image: url('assets/images/bg-login.jpg');"> </div>
  </div>
</div>
